/* body & bdy */
body {}

/* images & img */

.ff-img {
  /* to do, learn flex*/
  /*display: flex;*/
  overflow: auto;
}

/* image size */

.ff-img .ff-size0 { width: 10%;}
.ff-img .ff-size1 { width: 20%; }
.ff-img .ff-size2 { width: 30%; }
.ff-img .ff-size3 { width: 40%; }
.ff-img .ff-size4 { width: 50%; }

/* image placement */

.ff-img .ff-img-lft {
  float: right;
}

.ff-img .ff-img-cntr {
  display: block;
  margin: 0 auto;
}


/*
the prefix is the parent
the parent should be a generic
object

block
style
position
action

the sub-category is unique to the application

*/