body {
  padding: 0;
  margin: 0;
}

.date {
  text-decoration: underline;
  font-family: courier;
  text-align: right;
  margin-bottom: 30px;
}

.container {
  margin: 40px;
  border: 10px double black;
}

.menu {
  background: black;
  color: white;
  padding: 10px 30px;
}
h1 {
  padding: 0;
  margin: 0;
  font-size: 1.75em;
}

footer {
  background: black;
  color: white;
  padding: 2em;
}

.crap {
  color: brown;
}
.container {
  padding: 3em;
}

.blocks {
  display: flex;
}
@media (min-width: 600px) {
  h1 {
    font-size: 4.25em;
  }
  .columns {
    display: flex;
  }
  .logo {
    flex-grow: 2;
  }
  .text p {
    line-height: 25px;
    text-align: justify;
  }
}
.logo img {
  width: 100%;
}
.sentence {
  line-height: 64px;
  border-left: 10px solid black;
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 25px;
}
.p,
.text {
  font-family: courier;
}
.text {
  max-width: 500px;
  padding: 3em;
  background: #eee;
}
.h1,
.h2,
.h3,
.intro {
  font-family: "Catamaran", sans-serif;
}
h1,
h2,
.intro {
  margin: 0;
  padding: 0;
}
.intro {
  color: tomato;
  font-size: 1.2em;
}
.html,
.english {
  background: black;
  padding: 0 0.25em;
}
.english {
  color: white;
}
.h {
  color: cyan;
}
.t {
  color: tomato;
}
.m {
  color: yellow;
}
.l {
  color: magenta;
}
.welcome {
  background: tomato;
  text-align: center;
  padding: 0.25em;
}

article h1 {
  background: tomato;
  text-align: right;
  color: white;
  padding: 30px;
  border-bottom: 20px solid black;
  border-left: 10px solid red;
  border-right: 10px solid yellow;
  margin-bottom: 50px;
}

/*
 article-4
 retiring woodalls.me
 */

article.article.body {
  border: 1px dashed tomato;
}

.article-4.logo {
  background: tomato;
  text-align: right;
  font-family: georgia;
  font-style: italic;
  border: 13px solid white;
}

.article-4.logo:hover {
  border: 13px solid tomato;
  background: pink;
}

.article-4.logo a {
  color: pink;
  background: blue;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.article-4.logo:hover a {
  color: tomato;
}

.article-4.body {
  width: 40%;
  margin: 5vw auto;
  border: 1px solid tomato;
  padding: 2%;
  font-family: courier;
  line-height: 25px;
}

h2.article-4 {
  color: tomato;
  background: pink;
  padding: 1%;
  line-height: 30px;
}

.hero.article-4 {
  font-size: 3.4em;
  line-height: 50px;
  color: blue;
}

a.email-me {
  color: tomato;
  background: #ffff66;
  display: inline-block;
  padding: 1em;
  text-align: center;
}
article {
  margin: 50px 30px 80px 10px;
  padding: 10px;
}

/*
 _nav
*/

.nav.full {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.nav.full .nav-header {
  width: 100%;
  text-align: right;
}

.nav.full .nav-header a {
  padding: 30px;
  color: white;
  text-decoration: none;
}

.nav .content {
  background: tomato;
  padding: 30px;
  margin: 0 auto;
  overflow: auto;
}

.nav.full .content {
  width: 50%;
}

.nav .content li {
  list-style: none;
  margin: 10px 0;
}

.nav .content li a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.nav .content li a .p {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.a-with-image-right {
  display: inline-block;
  width: 100%;
  float: left;
}

span.prev_arrow {
  display: inline-block;
  width: 20%;
}
.prev_arrow img {
  width: 100%;
}

.aside {
  background: black;
  color: white;
  padding: 30px;
}

.aside .p {
  font-size: 20px;
}
.aside .header {
  overflow: auto;
}

.aside .header img {
  width: 20%;
  float: left;
}

.aside a {
  color: yellow;
  /*text-align: right;*/
  float: left;
  display: inline-block;
  /*width: 50%;*/
}

.p .entry {
  color: red;
  background: yellow;
}

.tag {
  display: inline-block;
  background: tomato;
  border-top: 10px solid black;
  border-left: 10px solid red;
  border-right: 10px solid yellow;
  /*transform: rotate(90deg);*/
  color: yellow;
  padding: 1em;
  text-align: center;
  position: relative;
  font-family: "lucida grande";
  letter-spacing: 2px;
  /*left: 547px;*/
  /*top: -0px;*/
  margin-top: 15px;
}

.tag-shadow {
  height: 20px;
  background: cyan;
  transform: skew(50deg);
  position: relative;
  right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article:hover {
  background: #66ff66;
}

.draft {
  background: yellow;
  padding: 20px;
  font-family: georgia;
}
