@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Roboto:700');

body {
  font-family: 'Crimson Text', serif;
}

/*
  _text
*/

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  padding: 1em;
}

@media (min-width: 500px)  {
  h1 {
    font-size: 3em;
  }
}

@media (min-width: 1000px)  {
  h1 {
    font-size: 5em;
  }
}

p {
  font-size: 1em;
  line-height: 30px;
}

@media (min-width: 500px)  {
  p {
    font-size: 2em;
    line-height: 50px;
  }
}

@media (min-width: 1000px)  {
  p {
    font-size: 2.3em;
    line-height: 80px;
  }
}

/*
  _colors
*/

.bg-gray2 {
  background:  #282929;
}
.gray2 {
  color:  #282929;
}

/*
  _themes
*/


.one {
  color: #3b4932;
  background: #cbe5aa;
}

.two {
  color: #eecda0;
  background: #1e6256;
}

.three {
  color: #f8be2e;
  background: #10362f;
}


.four {
  color: #72007b;
  background: #4add7d;
}


.five {
  color: #b92502;
  background: #41d7fa;
}

.letter {
  padding: 1em;
}

@media (min-width: 700px)  {
  .letter {
    padding: 2em;
  }
}
@media (min-width: 1000px)  {
  .letter {
    padding: 3em;
  }
}
/*
  _layout
*/

img {
  width: 100%;
}

@media (min-width: 700px)  {
  img {
    width: 70%;
  }
}

@media (min-width: 1000px)  {
  img {
    max-width: 700px;
  }
}

