:root {
  --white: #fefefd;
  --black: #1e1601;
  --red: #C7000A;
  --pink: #FF00A1;
  --orange: #f1621a;
  --yellow: #f1d51a;
  --green: #1acd71;
  --blue: #41d7fa;
  --navy: #330032;
  --purple: #b35cd5;

}