:root {
  --space-0: 0.25em;
  --space-1: 0.5em;
  --space-2: 0.75em;
  --space-3: 1em;
  --space-4: 1.25em;
  --space-5: 1.5em;
  --space-6: 1.75em;
  --space-7: 2em;
  --space-8: 2.25em;
  --space-9: 2.5em;
  --space-10: 2.75em;
  --space-11: 3em;
}

.lrg-type {
  font-size: calc(var(--space-11) * 1);
}

@media (min-width: 600px) {
  .lrg-type {
    font-size: calc(var(--space-11) * 3);
  }
}

@media (min-width: 800px) {
  .lrg-type {
    font-size: calc(var(--space-11) * 5);
  }
}

/*
typography
  - underline
  - bold
  - font-size
  - font-style
  - font-justify
*/

