.header1 {
  transition: all 200ms;
  position: relative;
}

.header1 .nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  background: #ff9191;
  border-right: 30px solid rgba(0,0,0,0.2);
  padding: 30px;
}


.header1 .nav a {
  font-family: "lucida grande";
  display: inline-block;
  background: #91ffbc;
  color: #191919;
  padding: 20px 20px 20px 220px;
  border-right: 30px solid #ff9191;
  margin: 20px;
  font-size: 1.3em;
}

.header1 .nav a:hover {
  transition: all 250ms;
  background: blue;
  border-right: 30px solid yellow;
  color: red;
}

.page-nav ul {
  background: #ff9191;
}


.page-nav li {
  display: inline-block;
}


.page-nav a {
  padding: 30px;
  display: inline-block;
  background: #ff9191;
}

main article {
  width: 45%;
  float:left;
}

.h1 a {
  font-size: .8em;
  display: inline-block;
  margin-bottom: 20px;
}